<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="(loginForm.controls.userName?.invalid && loginForm.controls.userName?.touched) || (mouseoverLogin && loginForm.controls.userName?.invalid)">Required</em>
      <input (ngModel)="userName" name="userName" id="userName" required type="text" class="form-control" placeholder="User Name..." />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em *ngIf="(loginForm.controls.password?.invalid && loginForm.controls.password?.touched) || mouseoverLogin && loginForm.controls.password?.invalid">Required</em>
      <input (ngModel)="password" name="password" id="password" required type="password" class="form-control"placeholder="Password..." />
    </div>
        
    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </span>  
    <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
  </form>
  <br>
  <div *ngIf="loginInvalid" class=" alert alert-danger">Invalid login info</div>
</div>